In [1]:
import pandas as pd

In [4]:
url = 'https://github.com/HamoyeHQ/HDSC-Introduction-to-Python-for-machine-learning/files/7768140/FoodBalanceSheets_E_Africa_NOFLAG.csv'
df = pd.read_csv(url, encoding='latin-1')

### Question 1
Select columns ‘Y2017’ and ‘Area’, Perform a groupby operation on ‘Area’.  Which of these Areas had the highest sum in 2017?

In [9]:
df[['Y2017', 'Area']].groupby(by='Area').sum().sort_values(by='Y2017', ascending=False).head(1)

              Y2017
Area
Nigeria  1483268.23

### Question 3
What is the total number of unique countries in the dataset?

In [11]:
df['Area'].nunique()

49

### Question 4
What is the mean and standard deviation across the whole dataset for the year 2017 to 2 decimal places?

In [13]:
df['Y2017'].agg(['mean', 'std']).round(2)

mean     140.92
std     1671.86
Name: Y2017, dtype: float64

### Question 5
Select columns ‘Y2017’ and ‘Area’, Perform a groupby operation on ‘Area’.  Which of these Areas had the 7th lowest sum in 2017?

In [15]:
df[['Y2017', 'Area']].groupby(by='Area').sum().sort_values(by='Y2017', ascending=True).iloc[6]

Y2017    19102.77
Name: Guinea-Bissau, dtype: float64

### Question 6
Perform a groupby operation on ‘Element’.  What year has the highest sum of Stock Variation?

In [24]:
years = ['Y2014', 'Y2015', 'Y2016', 'Y2017', 'Y2018']
df.groupby(by='Element')[years].sum().loc['Stock Variation'].idxmax()

'Y2014'

### Question 8
What is the total Protein supply quantity in Madagascar in 2015?

In [43]:
df[(df['Area'] == 'Madagascar') & (df['Element'] == 'Protein supply quantity (g/capita/day)')]\
['Y2015']\
.sum()

173.04999999999998

### Question 13
Which year had the least correlation with ‘Element Code’?

In [51]:
years = ['Y2014', 'Y2015', 'Y2016', 'Y2017', 'Y2018']
df[years + ['Element Code']].corr()['Element Code'].sort_values()

Y2016           0.023444
Y2015           0.023889
Y2017           0.024254
Y2018           0.024279
Y2014           0.024457
Element Code    1.000000
Name: Element Code, dtype: float64

### Question 16
Perform a groupby operation on ‘Element’.  What is the total number of the sum of Processing in 2017?

In [54]:
df.groupby(by='Element')['Y2017'].sum().loc['Processing']

292836.0

### Question 19
What is the total number and percentage of missing data in 2014 to 3 decimal places?

In [62]:
total_missing = df['Y2014'].isnull().sum()
percent_missing = total_missing * 100 / len(df)
total_missing, percent_missing

(1589, 2.6073544131401474)

### Question 20
Answer the following questions based on the African food production dataset provided by the FAO website already provided. What is the total sum of Wine produced in 2015 and 2018 respectively?

In [66]:
df.groupby(by='Item')[['Y2015', 'Y2018']].sum().loc['Wine']

Y2015    4251.81
Y2018    4039.32
Name: Wine, dtype: float64